body{
    background-color: black;
}

#play{
    height:128px;
    width: 128px;
}

#play[data-paused=false]{
    background-image: url("../media/img/icons/audio_pause.png");
}

#play[data-paused=true]{
    background-image: url("../media/img/icons/audio_play.png");
}